.guide {
  padding: 1rem 1rem 0.5rem;
  h4 {
    margin: 0 0 0.3rem;
  }
  &:first-of-type {
    padding-top: 2rem;
  }
  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.guide__gist {
  padding: 1rem 0;
  background-color: #FAFBFC;
  &--hidden {
    display: none;
  }
}

.gist {
  padding: 0 2%;
  h1, h2 {
    margin: 0.3rem 0;
  }
  h3 {  
    font-weight: bold;
  }
  h4, h5, h6 {
    font-weight: bold;
  }
  ul {
    list-style: initial;
    margin: initial;
    padding: 0 0 0 1rem;
  }
  li {
    list-style: disc;
    display: list-item;
  }
  ul li ul li {
    list-style: circle;
  }
  ul li ul li ul li {
    list-style: square;
  }
  code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: #F3F4F4;
    border-radius: 3px;
  }
  pre {
    background-color: #F3F4F4;
    padding: 0.2em 0.4em;
    overflow: auto;
    code {
      background-color: transparent;
      padding: 0;
    }
  }
  a:visited {
    color: #0000EE;
  }
}
