.press {
  @include press();
}

.btn {
  min-width: 100px;
  @extend .press;
  @extend .press-sm;

  &--cta {
    background: white;
    @extend .btn;
    @extend .press-black;
    @extend .press-sm;
    @extend .press-ghost;
  }

  &--cancel {
    @extend .press-deeporange;
    @extend .press-ghost;
  }

  &--small {
    padding: 0 0.3rem;
    margin-left: 0.3rem;
    min-width: inherit;
  }
  
  &--link { 
    color: #0000EE; 
  }
}
