$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

$base-padding-h: 1rem;
$base-padding-v: 1rem;
$base-padding: $base-padding-v $base-padding-h;
$base-max-width: 1280px;
$base-font-size: 14px;
$base-font-size-larger: 20px;
$base-background: white;

// Navigation:
$navbar-background: black;
$navbar-background-accent: green;
$navbar-color: #ccc;
$navbar-color-hover: #fff;
$navbar-height: 3rem;
$navbar-breakpoint: lg;
$footer-height: 2rem;

// Messages:
$message-height: 2rem;
$message-success-color: #339900;
$message-success-bg-color: #ddeeaa;
$message-error-color: #dd0000;
$message-error-bg-color: #ddbbbb;
