.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
  &__personal {
    @include flex-grid(100%, 280px, 280px);
  }
  &__work {
    @include flex-grid(100%, calc(100% - 330px), calc(100% - 330px));
  }
}

.personal {
  &__image {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  &__tagline {
    @extend .long-text;
  }

  &__status {
    &--active {
      color: green;
    }
    &--inactive {
      color: gray
    }
  }

  &__contact {
    display: inline-flex;
    align-items: center;
    margin: 0.5rem 1rem 0.5rem 0;
  }
  &__contact-image {
    width: 24px;
    height: 24px;
    margin-right: 0.3rem;
  }
}

.work {
  margin-top: 2rem;
  @include media-breakpoint-up(md) {
    margin-top: 0;
  }
  &__item {
    margin: 0 0 2rem;
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__image {
    display: none;
    @include media-breakpoint-up(sm) {
      display: block;
      flex: 0 0 48px;
    }
  }
  &__company-info {
    flex: 0 0 100%;
    @include media-breakpoint-up(sm) {
      flex: 0 0 calc(100% - 60px);
    }
  }
  &__title {
    margin: 0 0 0.1rem;
  }
  &__info {
    @extend .long-text;
  }
  &__duration {
    @extend .disclaimer;
  }
  &__tech {
    @extend .disclaimer;
    font-size: inherit;
  }
}

.projects {
  @include media-breakpoint-up(md) {
    margin-top: 3rem;
  }
  &__title {
    margin: 0 0 0.1rem;
  }
  &__item {
    margin: 1rem 0;
    @extend .long-text;
  }
  &__title {
    margin: 0 0 0.1rem;
  }
  &__tech {
    @extend .disclaimer;
    font-size: inherit;
  }
}
