.home {
  display: flex;
  flex-wrap: wrap;
  &__personal {
    @include flex-grid(100%, 100%, 30%);
    @include media-breakpoint-up(lg) {
      order: 2;
    }
  }
  &__work {
    @include flex-grid(100%, 100%, 70%);
    @include media-breakpoint-up(lg) {
      padding-right: 7rem;
    }
  }
}

.personal {
  margin: 0 0 2rem;
  @include media-breakpoint-up(lg) {
    padding: 0 2rem;
  }
  &__image {
    display: none;
    margin: 0 auto 2rem;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #aaa;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
  &__name {
    display: block;
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
  &__status {
    &--active {
      color: green;
    }
    &--inactive {
      color: gray
    }
  }
  &__tagline {
    @extend .long-text;
  }
  &__contact {
    display: inline-flex;
    align-items: center;
    margin: 0.5rem 1rem 0.5rem 0;
  }
  &__contact-image {
    width: 24px;
    height: 24px;
    margin-right: 0.3rem;
  }
}

.work {
  &__item {
    display: flex;
    margin-bottom: 1.5rem;
    &:first-of-type {
      margin-top: 1.5rem;
    }
  }
  &__icon {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
      flex: 0 0 48px;
      padding-top: 0.5rem;
    }
  }
  &__info {
    @include media-breakpoint-up(md) {
      padding-left: 0.5rem;
    }
  }
  &__title {
    margin: 0;
    font-weight: bold;
  }
  &__company {
    margin: 0;
  }
  &__header {
    display: flex;
    align-items: center;
  }
  &__duration {
    @extend .disclaimer;
  }
  &__tech {
    @extend .disclaimer;
    font-size: inherit;
  }
}


.project {
  &__title {
    &:after {
      display: block;
      content: attr(data-subline);
      @extend .disclaimer;
      font-size: small;
      font-weight: normal;
      padding-left: 0.1rem;
    }
  }
  &__item {
    margin-top: 1.5rem;
    @include media-breakpoint-up(md) {
      // work__icon width + work__info left padding
      padding-left: calc(48px + 0.5rem);
    }
  }
  &__link {
    font-size: smaller;
  }
}
