.personal {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  border-bottom: 1px solid gray;
  &__image {
    @include flex-grid(20%, 20%, 20%);
    margin: 0.8rem 0 0;
    position: relative;
    text-align: center;
    img {
      border-radius: 3px;
      box-shadow: 1px 1px 3px #aaa;
      max-width: 200px;
    }
  }
  &__info {
    @include flex-grid(80%, 80%, 80%);
    padding-left: 1rem;
  }
  &__status {
    &--active {
      color: green;
      font-weight: bold;
    }
    &--inactive {
      color: gray
    }
  }
  &__tagline {
    @extend .long-text;
  }
  &__contact {
    display: inline-flex;
    align-items: center;
    margin-right: 1rem;
  }
  &__contact-image {
    width: 24px;
    height: 24px;
    margin-right: 0.3rem;
  }
}

.work {
  padding: 1rem 0 0 1rem;
  &__item {
    @extend .long-text;
    padding: 0 0 1rem;
    @include media-breakpoint-up(md) {
      padding: 0.5rem 0 1rem 1rem;
    }
  }
  &__title {
    margin-bottom: 0;
    font-weight: normal;
  }
}
