@import "src/styles/variables";
@import "src/styles/mixins/breakpoints";

.home {
  img {
    display: block;
  }

  &__personal {
    padding: 0 1rem;
    margin-bottom: 3rem;
  }

  &__about {
    text-align: center;
  }

  &__my-image {
    width: 140px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 1px 1px #666;
    margin: 0 auto;
    flex: 1 1 auto
  }

  &__links {
    text-align: center;
    margin: 1rem 0 2rem;
  }

  &__status {
    &--active {
      color: green;
    }

    &--inactive {
      color: gray
    }
  }

  &__contacts {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0 0;
  }

  &__contact {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
  }

  &__contact-image {
    width: 24px;
    height: 24px;
    margin-right: 0.3rem;
  }

  &__tech {
    text-align: center;
    background: white;
    padding: 2rem 1rem 0;
  }

  &__tech-item {
    display: inline-block;
    margin: 1rem;
    max-width: 90px;
  }

  &__tech-image {
    height: 50px;
    width: 90px;
    margin-bottom: 0.5rem;

    img {
      margin: 0 auto 0.5rem;
      width: auto;
    }
  }

  &__recommendations-wrapper {
    background: white;
    padding: 2rem 1rem;
  }

  &__recommendations {
    max-width: 1000px;
    background: white;
    margin: 0 auto;

    h2 {
      text-align: center;
      margin-bottom: 3rem;

      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }

  &__get-in-touch {
    max-width: 800px;
    margin: 6rem auto 4rem;
    padding: 0 1rem;
    text-align: center;

    .title {
      font-size: 20px;
      margin: 0 0 2rem;

      &:last-of-type {
        margin-top: 4rem;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    &__personal {
      display: flex;
      max-width: 800px;
      margin: 0 auto 3rem;
    }

    &__about {
      margin: 0 0 0 10%;
      text-align: left;
    }
  }

  @include media-breakpoint-up(md) {
    &__my-image {
      width: 200px;
    }
  }

  @include media-breakpoint-up(lg) {
    &__recommendations {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}

.recommendation {
  flex: 0 0 100%;
  text-align: left;
  background: white;
  max-width: 450px;
  margin: 0 auto 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #eee;

  &__author {
    display: flex;
    align-items: center;

    img {
      width: 80px;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 0 1px 1px #666;
      margin: 0 1rem 0 0;
      flex: 1 1 auto
    }
  }

  &:last-of-type {
    border: none;
    margin-bottom: 0;
  }

  @include media-breakpoint-up(lg) {
    flex: 0 1 45%;
    max-width: initial;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;

    &__paragraph {
      min-height: 105px;

      &:last-of-type {
        min-height: 65px;
      }
    }
  }
}

.work {
  background: white;
  padding: 1rem;

  h2 {
    text-align: center;
  }

  &__items {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__item {
    max-width: 800px;
    margin: 1rem auto;
  }

  &__chevron {
    width: 18px;
    height: 18px;
    display: inline-block;
    line-height: 1;
    margin: 0;
    position: absolute;
    right: 0;
    transition: all .2s ease-out;
    user-select: none;

    &--closed {
      transform: rotate(-180deg);
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    transition: all 0.2s ease-in-out;

    &--open {
      max-height: 100vh;
      opacity: 1;
      margin-bottom: 4rem;
    }

    &--closed {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
    }
  }

  &__app-image {
    min-width: 200px;
    max-width: 200px;
    margin: 0 auto 2rem;
    display: none;
  }

  &__image {
    display: none;
    @include media-breakpoint-up(sm) {
      display: block;
      flex: 0 0 48px;
    }
  }

  &__company-info {
    flex: 0 0 100%;
    @include media-breakpoint-up(sm) {
      flex: 0 0 calc(100% - 60px);
    }
  }

  &__title {
    margin: 0 0 0.1rem;
  }

  @include media-breakpoint-up(md) {
    padding: 3rem 1rem;

    &__app-image {
      display: block;
      margin: 0 2rem 0 0;

      img {
        border: 1px solid #ddd;
        border-radius: 5px;
      }
    }

    &__item {
      margin-bottom: 1rem;

      &:nth-of-type(odd) {

        .work__app-image {
          order: 2;
          margin: 0 0 0 2rem;
        }
      }
    }

    &__details {
      flex: 1 1 30%;
    }
  }
}
