.page-content-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: $footer-height;
  font-size: 10px;
  text-align: center;
  background-color: $navbar-background;
  color: $navbar-color-hover;
}
