.page-content-header {
  position: relative;
  max-width: $base-max-width;
  z-index: 10;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  background: $navbar-background;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  color: $navbar-color-hover;
  padding: 0 $base-padding-h;
  height: $navbar-height;
  align-items: center;

  .navigation__title {
    font-size: $base-font-size-larger;
    //text-transform: uppercase;
    a {
      color: $navbar-color-hover !important;
    }
    @include media-breakpoint-up($navbar-breakpoint) {
      flex: 0 0 auto;
    }
  }

  .navigation__content {
    display: none;
    margin: 0;
    @include absolute($navbar-height, 0, auto, 0);
    @include media-breakpoint-up($navbar-breakpoint) {
      display: flex;
      flex-wrap: wrap;
      position: static;
      flex: 1 1 auto;
      justify-content: flex-end;
    }
  }

  .navigation__link {
    padding: 0 $base-padding-h;
    display: block;
  }

  .navigation__link-active {
    color: white !important;
    cursor: default;
  }

  .navigation__mobile {
    @include media-breakpoint-up($navbar-breakpoint) {
      display: none;
    }
    &:before {
      display: block;
      margin-right: $base-padding-h;
      font-size: $base-font-size-larger;
      color: $navbar-color-hover;
      content: '\2630';
      cursor: pointer;
    }
  }

  a, a:link, a:visited, a:active {
    color: $navbar-color;
  }

  a:hover {
    color: $navbar-color-hover;
  }

  &--visible {
    @include media-breakpoint-down(md) {
      .navigation__content {
        display: block;
        border-top: 1px solid $navbar-color;
        padding: 0.5rem $base-padding-h;
        background: rgba($navbar-background, 0.90);
        .navigation__link {
          padding: 0.5rem $base-padding-h;
        }
      }
    }
  }

}
