html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

button:focus {
  outline: 0;
}

body {
  max-width: $base-max-width;
  min-width: 320px;
  position: relative;
  background: lightgrey;
  margin: 0 auto;
  font-size: $base-font-size;
}

.page-content-main {
  max-width: $base-max-width;
  background: $base-background;
  min-height: calc(100vh - calc(#{$navbar-height} + #{$base-padding-v} * 2));
  position: relative;
  padding: $base-padding-v $base-padding-h ;
}

form {
  width: 100%;
  input {
    width: 100%;
    margin: 0.3rem 0;
    padding: 0.3rem;
  }
  input[type="submit"] {
    width: auto;
    display: block;
    margin: 0 auto;
  }
}

.long-text {
  max-width: 600px;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

table {
  width: 100%;
  background-color: #FFFFFF;
  td, th {
    padding: 0.3rem;
    &.number {
      text-align: right;
    }
    &.center {
      text-align: center;
    }
  }
  thead {
    tr {
    background-color: rgba(200, 200, 200, 0.4);
    }
    th {
      text-align: left;
      font-weight: bold;
    }
  }
  tbody {
    tr {
      background-color: #FFFFFF;
      &:nth-of-type(even) {
        background-color: rgba(200, 200, 200, 0.2);
      }
    }
  }
}

.box {
  @include box;
}

.box__label {
  @include box__label(100px);
}

.box__value {
  @include box__value;
}
