.tabs {
  display: block;
  width: 100%;
  background: rgba(gray, 0.05);
}

.tabs__header {
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid rgba(black, 0.9);
  & h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
    font-size: 1rem;
  }
}

.tabs__header-item {
  display: inline-block;
  padding: 0.3rem 1rem;
  cursor: pointer;
  text-align: center;
  
  @include media-breakpoint-up(sm) {
    width: auto;
  }
  
  &:hover {
    color: white;
    background: rgba(black, 0.7);
  }

  &--active {
    color: white;
    background: rgba(black, 0.9);
    &:hover {
      background: rgba(black, 0.9);
    }
  }
}

.tabs__body {
  border-bottom: 2px solid rgba(black, 0.9);
}

.tabs__content {
  display: none;
  &--active {
    display: block;
    padding: 1rem;
  }
}
